USE [master]
GO
/****** Object:  Database [juego]    Script Date: 06/12/2018 09:59:02 p. m. ******/
CREATE DATABASE [juego]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'juego', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\juego.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'juego_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER01\MSSQL\DATA\juego_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [juego].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [juego]
GO
/****** Object:  Table [dbo].[fechas]    Script Date: 06/12/2018 09:59:02 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fechas](
	[tiempo_registrado] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[info]    Script Date: 06/12/2018 09:59:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[info](
	[tiempo_registrado] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[jugadores]    Script Date: 06/12/2018 09:59:03 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[jugadores](
	[gamer] [varchar](30) NULL
) ON [PRIMARY]
GO
USE [master]
GO
